/* Geral
----------------------------------------------*/
body{
    background: #000 url(../img/bg.png)
}

/* Cabeçalho
----------------------------------------------*/
header nav a{
    padding-left: 10px;
}

.navbar-dark .navbar-toggler{
    color: white;
    border-color: white;
} 

.navbar-dark .navbar-nav .nav-link{
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0 10px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #4B4B4A;
}

span#logo1, span#logo2{
    font-size: 3em;
    font-family: fantasy; 
    font-weight: 500;
}

span#logo1{
    margin-left: 10px;
    color: #18121e;
}

span#logo2{
    color: #233237;
}

/* Busca
----------------------------------------------*/
#busca{
    padding: 10px 0;
}

/* Media queries
----------------------------*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    span#logo1, span#logo2{
        font-size: 2em;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}